@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    padding-bottom: 40px;
}

@primary-color: hsl(26, 100%, 55%);
@secondary-color: hsl(25, 100%, 94%);
@teritory-color: hsl(223, 64%, 98%);

@button-default: button;
@list-default: ul;

@global-font-style: p,h1,h2;
@dark-color:  hsl(220, 13%, 13%);
@grey-color: hsl(219, 9%, 45%);
@white-color: hsl(0, 0%, 100%);


@{button-default}{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@{list-default}{
    list-style-type: none;
    padding-left: 0px;
}

@{global-font-style}{
    font-family: Kumbh Sans;
}

.commerce-nav-header-container{
    width: 100%;
    height: 80px;
    background-color: initial;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    .mobile-menu-item-list-container{
        width: inherit;
        display: flex;
        padding-left: 0px;
        margin-top: 10px;
        .mobile-menu-nav-item{
            margin-right: auto;
            .mobile-menu-btn{
                margin-right: 10px;
            }
        }
        .menu-nav-cart-item{
            margin-right: 20px;
            .nav-cart-btn{
                position: relative;
                .nav-cart-icon-img{
                    margin-top: 5px;
                }
                .cart-count{
                    position: absolute;
                    font-size: 0.7rem;
                    top: 0px;
                    right: 0px;
                    background-color: @primary-color;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-right: 2px;
                    padding-left: 2px;
                    border-radius: 25px;
                }
            }
        }

    }
}

.mobile-menu-img{
    margin-top: 5px;
    width: 20px;
}

.app-logo-img{
    width: 160px;
}

.avatar-img{
    width: 30px;
}

.slider-img{
    height: 300px;
}

.slider-control-img{
    background-color: white;
    padding: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
}

.product-details-main-container{
    padding: 20px;
    h2{
        font-size: 0.7rem;
        font-weight: 700;
        letter-spacing: 1px;
        color:@grey-color;
    }
    h1{
        font-size: 2rem;
        font-weight: 700;
        color: @dark-color;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    p{
        color:@grey-color;
        font-weight: 500;
    }
}

.product-price-container{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    .product-price-text{
        color: @dark-color;
        font-size: 2rem;
        font-weight: 700;
    }
    .product-discount-text{
        background-color: @dark-color;
        color: @white-color;
        font-weight: 700;
        font-size: 1.2rem;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        margin-left: 10px;
    }
    .product-original-price{
        color: @grey-color;
        text-decoration: line-through;
        font-weight: 700;
        font-size: 1.1rem;
    }
}

.product-quantity-controler-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: @teritory-color;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    .product-quantity{
        color: @dark-color;
        font-weight: 700;
    }
}

.product-add-to-cart-btn{
    color: @dark-color;
    font-weight: 700;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @primary-color;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    box-shadow: 10px 15px 16px 5px @secondary-color;
    .cart-icon-img{
        width: 16px;
        margin-right: 20px;
        fill: @dark-color;
    }
}

.view-cart{
    display: none;
}

.product-cart-preview-container{
    position: absolute;
    width: 95%;
    height: 250px;
    background-color: @white-color;
    z-index: 999;
    top: 90px;
    left: 10px;
    right: 0px;
    border-radius: 10px;
    .product-cart-header{
        width: 100%;
        height: 50px;
        padding-left: 20px;
        padding-top: 20px;
        display: flex;
        align-items: center;
        .cart-heading{
            color: @dark-color;
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: 0px;
        }
    }
    .cart-product-details-container{
        width: 100%;
        height: 200px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        .cart-product-price-container{
            display: flex;
            align-items: center;
            .cart-product-thumbnail-img{
                width: 50px;
                height: 48px;
                border-radius: 5px;
                margin-right: 20px;
            }
            .cart-product-total-amount{
                .cart-product-inner-container{
                    display: flex;
                    align-items: center;
                    margin-top: 5px;
                    .cart-product-price{
                        margin-bottom: 0px;
                        color: @grey-color;
                        margin-right: 15px;
                    }
                    .cart-product-total-price{
                        color: @dark-color;
                        font-weight: 700;
                        margin-bottom: 0px;
                        width: 0px;
                    }
                }
                .cart-product-name{
                    margin: 0px;
                    color: @grey-color;
                    font-weight: 500;
                }
            }
            .cart-product-item-remove-btn{
                margin-left: auto;
                .cart-product-item-delete{
                    width: 18px;
                }
            }

        }
        .cart-checkout-btn{
            width: inherit;
            height: 55px;
            background-color: @primary-color;
            color: @dark-color;
            font-weight: 700;
            margin-top: 30px;
            border-radius: 10px;
            box-shadow: 10px 15px 16px 5px @secondary-color;
        }
    }
}   
